<div>
  <div class="area"></div>
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="/login">

                        <span class="nav-text">
                            login
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/main">

                        <span class="nav-text">
                          My profile
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/Registration">

                        <span class="nav-text">
                            Registration
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">

                        <span class="nav-text">
                            Add
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">

                        <span class="nav-text">
                            Withdrawal
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span class="nav-text">
                           Edit
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">

                        <span class="nav-text">
                            Gradereport
                        </span>
                    </a>
                </li>

            </ul>

            <ul class="logout">
                <li>
                   <a href="#">

                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

  <router-outlet></router-outlet>
</div>
