<body>
    <div class="login-component1">
        <img src="assets/img/1.jpg" class="imglogin" alt="">
    </div>
    <div class="login-component2">
    <form class="container">
    <h1>Welcome To Edu.</h1>
    <div class="fontlg">
    <p>Student ID</p>
    </div>
    <input type="text" class="textbox" placeholder="Student ID">
    <div class="fontlg">
    <p >Password</p>
    </div>
    <input type="password" class="textbox" placeholder="Password">
    <br/>
    
    <input type="submit" class="btn-submit" value="Log in" (click)="btnClick()">
    
    </form>
</div>
</body>