<div class="containerr">
  <div class="container1">
  <div class="container2">
    <div class="textrgt">
      <h1>Withdrawal</h1>
    </div>
    <div class="dropdown-term">
      <p-dropdown [options]="Termlist" optionLabel="name"></p-dropdown>
    </div>
  </div>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="avatar">
            <img
              src="https://c.tenor.com/j2aVLrYfEBsAAAAC/jett-valroant.gif"
              alt=""
            />
          </div>

          <div class="profile">
            <h3>6204062630521</h3>
            <p>Student</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cardtest">
    <div class="Card-registration">
      <p-table [value]="Withdrawal">
        <ng-template pTemplate="header">
          <tr>
            <th>Subject</th>
            <th>ID</th>
            <th>Day</th>
            <th>Time</th>
            <th>Credit</th>
            <th>Room</th>
            <th>Withdraw</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Withdrawal>
          <tr>
            <td>{{ Withdrawal.Subject }}</td>
            <td>{{ Withdrawal.ID }}</td>
            <td>{{ Withdrawal.Day }}</td>
            <td>{{ Withdrawal.Time }}</td>
            <td>{{ Withdrawal.Credit }}</td>
            <td>{{ Withdrawal.Room }}</td>
            <td>
              <button type="submit" class="btn-select">
                {{ Withdrawal.Select }}
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
