<div class="body-card">
  <div class="textmain">
    <h1>Registration Annoucement</h1>
  </div>

  <div class="card">
    <div class="text-in">
      <h2>Course Registration,Semester 2/2022</h2>
      <div class="text-inside">
        <div class="wrapper">
          <div class="center-line"></div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
          <div class="row row-1">
            <section>
              <div class="f-icon">
              <div class="icon"></div>
            </div>
              <div class="details">
                <span class="title">Semester start-end adates</span>
                <p>10 Jan 2022 - 6 May 2022</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="column">
  <div class="card-profile">
    <div class="avatar">
      <img
        src="https://c.tenor.com/j2aVLrYfEBsAAAAC/jett-valroant.gif"
        alt=""
      />
    </div>

    <div class="text-pf">
    <h3>6204062630491</h3>
    <p>Student</p>
    </div>

    <div class="text-info">
      <p><strong>Name :</strong> Nanthapong Duangjinda</p>
      <p><strong>Student ID :</strong> 6204062630491</p>
      <p><strong>Year :</strong> 3</p>
      <p><strong>Section :</strong> RC</p>
      <p><strong>Tel :</strong> 0645387846</p>
      <p><strong>Email :</strong> darknon0303@gmail.com</p>
    </div>
  </div>
</div>
</div>
